logs/*
*.pkl
*.pyc
*.png
*.tar.gz
!readme_data/network_arch.png
!readme_data/quantize.png
snapshots/*
cifar-10-batches-py/data_batch*
cifar-10-batches-py/readme.html
cifar-10-batches-py/batches.meta
cifar-10-batches-py/test_batch
*.swp
