logs/*
*.pkl
*.pyc
*.png
!readme_data/network_arch.png
!readme_data/quantize.png
!readme_data/baseline_loss.png
!readme_data/baseline_acc.png
!readme_data/binary_loss.png
!readme_data/binary_acc.png
snapshots/*
cifar-10-batches-py/data_batch*
cifar-10-batches-py/readme.html
cifar-10-batches-py/batches.meta
cifar-10-batches-py/test_batch
